<section class="features">
    <div class="container">
        <h2 class="features__title">{{.Params.features.title}}</h2>
        <div class="features__wrap">
            {{range $index, $value := .Params.features.items}}
                <div class="features__item">
                    <img class="features__img" src="{{.image}}">
                    <h3 class="features__item-title">{{.title}}</h3>
                    <p class="features__text">{{.text}}</p>
                </div>
            {{end}}
           
        </div>
    </div>
</section>

