<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <a class="footer__logo" href="/"><img src="/img/logo-mini.svg"></a>
            <div class="footer__nav"> 
                {{- $currentPage := . -}}
                {{ $url1 := $currentPage.URL }}
                {{ range .Site.Menus.main -}}
                    <a class="footer__nav-link {{ if eq  $url1 .URL  }} active {{ end }}" href="{{ .URL  | absLangURL }}">{{ .Name }}</a>
                {{end}}

                </div>
            <div class="footer__socials">
                <!-- {{ range .Site.Params.Socail }}
                    {{ .url }} 
                {{end}} -->

                <a class="footer__soc-link" href="https://www.facebook.com/SmartCookieWifi/">
                    <svg width="8" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.705 3.273v2.326H0v2.845h1.705v8.454h3.501V8.444h2.35s.22-1.364.326-2.855H5.22V3.644c0-.291.382-.682.76-.682h1.907V0H5.292C1.618 0 1.705 2.848 1.705 3.273z"
                            fill="#2B3C67" /></svg>
                </a>
                <a class="footer__soc-link" href="https://www.instagram.com/smartcookiewifi/">
                    <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.669 0H4.33A4.336 4.336 0 000 4.331v7.338A4.336 4.336 0 004.331 16h7.338A4.336 4.336 0 0016 11.67V4.33A4.336 4.336 0 0011.669 0zM8 12.375A4.38 4.38 0 013.625 8 4.38 4.38 0 018 3.625 4.38 4.38 0 0112.375 8 4.38 4.38 0 018 12.375zm4.48-7.718a1.294 1.294 0 010-2.586 1.294 1.294 0 01-.001 2.586z"
                            fill="#2B3C67" />
                        <path
                            d="M8 4.563A3.44 3.44 0 004.563 8 3.44 3.44 0 008 11.437 3.44 3.44 0 0011.437 8 3.44 3.44 0 008 4.563zm4.48-1.553a.355.355 0 100 .71.355.355 0 000-.71z"
                            fill="#2B3C67" /></svg>
                </a>
            </div>
        </div>
        <div class="footer__copy">Copyright © <script>
                document.write(new Date().getFullYear())
            </script>{{ with .Site.Params.footer.copyright }} {{ . | safeHTML }} {{ end }}   </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/libs/themeable-stylish-select/stylish-select.js"></script>
<script src="https://cdn.jsdelivr.net/npm/page-scroll-to-id@1.6.2/jquery.malihu.PageScroll2id.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="/libs/themeable-stylish-select/stylish-select.js"></script>
<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
</body>

</html>