{{ define "main" }}
{{ partial "header.html" . }}

<section class="how-works">
	<div class="container">
		<h1 class="how-works__title">{{.Title}}</h1>
		<div class="how-works__wrap">

			{{ range .Params.howIt }}
				
			<div class="how-works__row">
				<div class="how-works__info">
					<img src="{{.number}}" alt="" class="circle">
					<p class="how-works__text mb-180">{{.text}}</p>

					{{if .compatible }}
						<div class="how-works__devices">
							<div class="how-works__name">{{.compatible.heading}}</div>
							<div class="how-works__dev-items">
								{{ range .compatible.list }}
									<div class="how-works__dev-item"><img src="{{.}}"></div>
								{{end}}
							</div>
						</div>
					{{end}}
					{{if .devices }}
						<div class="how-works__devices">
							<div class="how-works__name">{{.devices.heading}}</div>
							<div class="how-works__dev-items">
								{{ range .devices.list }}
									<div class="how-works__dev-item"><img src="{{.}}"></div>
								{{end}}
							</div>
						</div>
					{{end}}

				</div>
				<div class="how-works__img-wrap">
					{{ $leni := len .images}} 

					{{ range $index, $value := .images }}

					{{ $c :=add $index 1 }}
						{{ if eq  $leni 1 }}
							<img class="how-works__img" src="{{.}}">
						{{else}}
						<img class="how-works__img how-works__img-hidden{{$c}}" src="{{.}}">

						{{end}}
					
					{{end}}
				</div>
			</div>

			{{end}}



			



		


		</div>
	</div>
</section>




<section class="section-connection">
	<div class="container">
		<h1 class="h1">{{.Params.connection.title}}</h1>
		<p class="connection-1">{{.Params.connection.subHeading}}</p>

		<div class="row-main">
			<div class="row owl-main owl-theme">
				{{ $last_index := .Params.connection.items  }}			
				{{ range $index, $value := .Params.connection.items }}
				{{ $c := add $index 1 }}

					<div class="{{if eq $index 0 }} col-12 {{else if eq $c (len $last_index)}} col-12 {{ else }} col-4 {{end}}">
						<img src="{{.image}}" alt="">
						<p class="connection-p">{{.text}}</p>
						{{ range .arrow }}
							<img src="{{.image}}" alt="" class="arrow {{.class}}">
						{{end}}
					</div>


				{{end}}
			</div>

			<div class="col-4 d-n">
				{{ range $index, $value := .Params.connection.bottom }}
					<p class="connection-p {{.class}}">{{.text}}</p>

				{{end}}


			</div>

		</div>
	</div>
</section>


{{ end }}


